<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.demo.mapper.ImageUploadMapper">
    <insert id="uploadImage" parameterType="String">
        INSERT INTO photo (photo_date, photo_link, user_id) VALUES (#{photo_date}, #{photo_link}, #{user_id})</insert>
        
        <insert id="resultUpload" parameterType="String">
        INSERT INTO result (lesion_code, photo_link, lesion_name) VALUES (#{lesion_code}, #{photo_link}, #{lesion_name})</insert>
</mapper>